[submodule "web-auth-server"]
	path = web-auth-server
	url = https://github.com/ArkhamX2/web-auth-server
	branch = main
[submodule "web-chat-server"]
	path = web-chat-server
	url = https://github.com/ArkhamX2/web-chat-server.git
	branch = main
[submodule "web-chat-client"]
	path = web-chat-client
	url = https://github.com/ArkhamX2/web-chat-client
	branch = main
